<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자:메뉴편집</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <header>
        <div class="top">
            <div class="box"></div>
            <div class="maintitle">메뉴 편집</div>
            <div class="box">
                <button id="toqrcode" type="button" onclick="location.href='index.html'">qr코드화면</button>
                <button id="tostock" type="button" onclick="location.href='admin_stock.html'">재고관리</button>
            </div>
        </div>    
    
    </header>
    <main>
        <div class="main">
            <div class="input">
                <form method="post" action=" " >
                    <select>
                        <option value="default">메뉴 종류</option>
                        <option value="main">메인메뉴</option>
                        <option value="side">사이드메뉴</option>
                        <option value="beverage">음료</option>
                    </select>
                    <input id="nameinput" type="text" placeholder="메뉴 이름">
                    <input id="priceinput" type="number" step="1000" placeholder="메뉴 가격">
                    <select class="stock">
                        <option value="stock1">잔여 재고량</option>
                        
                    </select>

                    <input id="submit" type="submit" value="입 력">
                </form>
            </div>
            <div class="table"> <!-- 임의표 -->
                <!--
                종류 이름 가격 재고 넣으면 한줄씩 추가되고 삭제누르면 한줄씩 줄어들어야함
                -->
                <table border=1 cellpadding=1 >
                    <tr>
                        <th>메뉴 종류</th>
                        <th id="menuoption">이름</th>
                        <th>가격</th>
                        <th>재고1</th>
                        
                        <th></th>
                    </tr>
                    <tr th:each="list : ${menuList}">
                        <td><span th:text="${menu.listname}"></span></td>
                        <td><span th:text="${menu.name}"></span></td>
                        <td><span th:text="${menu.price}"></span></td>
                        <td><span th:text="${menu.stock}"></span></td>
                        <td><button type="button">삭제</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>
</html>