<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자:메뉴편집</title>
    <link rel="stylesheet" media="all and (max-width: 1024px)" href="/css/stock.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<header>
    <div class="top">
        <div class="box"></div>
        <div class="maintitle">재고 관리</div>
        <div class="box">
            <button id="toqrcode" type="button" onclick="location.href='/index'">qr코드화면</button>
            <button id="tomenu" type="button" onclick="location.href='/admin'">메뉴 편집</button>
        </div>
    </div>
</header>
<main>
    <div class="main">
<!--        이거없어도될듯-->
<!--        <div class="input">-->
<!--            <form method="post" action=" " >-->
<!--                <input id="Snameinput" type="text" placeholder="재고 이름">-->
<!--                <input id="submit" type="submit" value="입 력">-->
<!--            </form>-->
<!--        </div>-->
        <div class="table"> <!-- 임의표 -->
            <table border=1 cellpadding=1 >
                <tr>
                    <th>재고명</th>
                    <th>잔 량</th>
                    <th></th>
                </tr>

                <tr th:each="menu : ${menuList}">
                    <td><span th:text="${menu.menuName}"></span></td>
                    <td><span th:text="${menu.menuCount}"></span></td>

                    <td><button type="button" onclick="">+</button>
                    <button type="button" onclick="">+</button></td>

<!--                        <button type="button" th:href="@{/stock?(id=${menu.menuId})}">+</button></td>-->
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>