<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>세부사항</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <div class="top">
        <h2>메뉴 세부사항</h2>
    </div>
    <div class="container">
        <div>
            <div class="menuinfo"><a>메뉴번호</a></div>
            <h2 th:text="${menuDto.menuID}">1</h2>
            <div class="menuinfo"><a>메뉴이름</a></div>
            <p th:text="${menuDto.menuName}">test1</p>

            <!-- 수정/삭제 -->
            <div class="btndiv">
                <a th:href="@{'/post/edit/' + ${menuDto.menuID}}">
                    <button>수정</button>
                </a>
                <form id="delete-form" th:action="@{'/post/' + ${menuDto.menuID}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button id="delete-btn">삭제</button>
                </form>
            </div>
        </div>
        
    </div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>