<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>키오스크프로젝트</title>
    <link rel="stylesheet" href="/css/index.css">
    <style>

    </style>
</head>
<body>
<header>
    <div class="top">
        <div class="box"></div>
        <div class="maintitle">백석패스트푸드</div>
        <div class="box"><button id="toadmin" type="button" onclick="location.href='/admin'">관리자화면</button></div>
    </div>
</header>
<main>
    <div class="main">
        <div class="qrcode">
        </div>
        <p class="text">
            QR코드를 통해 핸드폰으로 주문해보세요!
        </p>
        <div class="withtablet">
            <button id="toorder" type="button" onclick="location.href='/order'">테블릿으로 주문하기</button>
        </div>
    </div>
</main>
</body>
</html>