<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>전체 상품 보기</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        .page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media ( max-width: 768px ) {
            .tabletsearch{
                display: none;
            }
            input[type=text]{
                font-size: 1rem;
                margin-right: 10px;
                width: 70%;
                border: 1px solid lightgray;
                border-radius: 5px;
            }
        }
        @media ( min-width: 768px ) {
            .phonesearch{
                display: none;
            }
            .tabletsearch{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            input[type=text]{
                font-size: 1rem;
                margin-right: 10px;
                width: 70%;
                border: 1px solid lightgray;
                border-radius: 5px;
            }
        }
        form{
            margin-top: 5px;
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/main}" sec:authorize="isAuthenticated()">kiosk</a>
        <a class="navbar-brand" th:href="@{/}" sec:authorize="!isAuthenticated()">kiosk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/main}" sec:authorize="isAuthenticated()">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}" sec:authorize="!isAuthenticated()">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/item/new}" sec:authorize="hasRole('ROLE_SELLER')">Upload</a></li>
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/seller/manage/{id}(id=${user.getId()})}" sec:authorize="hasRole('ROLE_SELLER')">Manage</a></li>
            </ul>

<!--            <form class="phonesearch" sec:authorize="isAuthenticated()" th:action="@{/item/list}" method="get">-->
<!--                <input type="text" name="searchKeyword">-->
<!--                <button class="btn btn-outline-dark" type="submit">검색</button>-->
<!--            </form>-->
<!--            <form class="phonesearch" sec:authorize="!isAuthenticated()" th:action="@{/nonlogin/item/list}" method="get">-->
<!--                <input type="text" name="searchKeyword">-->
<!--                <button class="btn btn-outline-dark" type="submit">검색</button>-->
<!--            </form>-->

            <ul class="nav justify-content">
<!--                <li class="nav-item flex-grow-1">-->
<!--                    <form class="tabletsearch" sec:authorize="!isAuthenticated()" th:action="@{/nonlogin/item/list}" method="get">-->
<!--                        <input type="text" name="searchKeyword">-->
<!--                        <button class="btn btn-outline-dark" type="submit">검색</button>-->
<!--                    </form>-->
<!--                </li>-->
                <li class="nav-item">
                    <form class="d-flex mx-1" th:action="@{/signin}" sec:authorize="!isAuthenticated()">
                        <button class="btn btn-outline-dark" type="submit">
                            로그인
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form class="d-flex mx-1" th:action="@{/signup}" sec:authorize="!isAuthenticated()">
                        <button class="btn btn-outline-dark" type="submit">
                            회원가입
                        </button>
                    </form>
                </li>
            </ul>
            
<!--            <div class="d-flex justify-content-center">-->
<!--                <form class="tabletsearch" sec:authorize="isAuthenticated()" th:action="@{/item/list}" method="get">-->
<!--                    <input type="text" name="searchKeyword">-->
<!--                    <button class="btn btn-outline-dark" type="submit">검색</button>-->
<!--                </form>-->
<!--            </div>-->
            <form class="d-flex flex-wrap justify-content-center" sec:authorize="hasRole('ROLE_USER')">
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/user/cash/{id}(id=${user.getId()})}" th:text="|현재잔액 : ${user.getCoin()} ₩|">
                현재잔액 : 10000 ₩
                </a>
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/user/cart/{id}(id=${user.getId()})}">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${user.getCart().getCount()}">0</span>
                </a>
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/seller/{id}(id=${user.getId()})}" th:text="|${user.getName()}님 환영합니다.|">
                    @@@님 환영합니다.
                </a>
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/logout}">
                    로그아웃
                </a>
            </form>
<!--            <form class="tabletsearch" sec:authorize="isAuthenticated()" th:action="@{/item/list}" method="get">-->
<!--                <input type="text" name="searchKeyword">-->
<!--                <button class="btn btn-outline-dark" type="submit">검색</button>-->
<!--            </form>-->

            

            <form class="d-flex flex-wrap justify-content-center" sec:authorize="hasRole('ROLE_SELLER')">
                <a class="btn btn-outline-dark mx-1 my-1" href="#" th:text="|현재수익 : ${user.getCoin()} ₩|">
                    현재잔액 : 100000 ₩
                </a>
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/seller/{id}(id=${user.getId()})}" th:text="|${user.getName()}님 환영합니다.|">
                    @@@님 환영합니다.
                </a>
                <a class="btn btn-outline-dark mx-1 my-1" th:href="@{/logout}">
                    로그아웃
                </a>
            </form>

        </div>
    </div>
</nav>
<!-- Section-->
<section class="py-3">
    <div class="container px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">

            <!-- 첫번째 아이템 -->
            <div class="col mb-3" th:each="item : ${items}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name\-->
                            <h5 class="fw-bolder" th:text="${item.getName()}">아이템이름</h5>
                            <!-- Product price-->
                            <p th:text="|${item.getPrice()} 원|">아이템 가격</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/item/view/{id}(id=${item.getId()})}">상세보기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/item/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
    </div>
</section>

<!-- Footer-->
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; https://github.com/IamAnjaehyun/kiosk-project</p>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

</body>
</html>