<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>세부사항</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
<div class="top">
    <h2>메뉴 세부사항</h2>
</div>
<div class="container">
    <div>
        <form action="/cart/post/" method="post" enctype="multipart/form-data">

            <div class="menuinfo"><a>메뉴 사진</a></div>
            <td><img th:src="@{${menuDto.filePath}}" width="150px" height="150px"></td>
            <p th:text="${menuDto.menuID}" id="menuID"></p>
            <div class="menuinfo"><a>메뉴 이름</a></div>
            <p th:text="${menuDto.menuName}" id="cartName"></p>
            <div class="menuinfo"><a>메뉴 가격</a></div>
            <p th:text="${menuDto.price}" id="totalPrice"></p>

            <input class="btn btn-primary" type="submit" role="button" value="장바구니에 추가" />

        </form>

        <form class="d-flex" th:action="@{/user/cart/{id}/{menuID}(menuID=${menu.menuID})}" method="post">
            <div class="d-flex">
                <input class="form-control text-center me-3" id="amount" name="amount" type="num" value="1"
                       style="max-width: 3rem"/>
                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                </button>
            </div>
        </form>

        <button onclick="history.back()">뒤로가기</button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>