<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 수정</title>
    <link rel="stylesheet" href="../static/css/update.css">
</head>
<body>
<!--<form th:action="@{'/post/edit/' + ${menuDto.menuID}}" method="post">-->
<!--    <input type="hidden" name="_method" value="put"/>-->
<!--    <input type="hidden" name="menuID" th:value="${menuDto.menuID}"/>-->

<!--    이름 : <input type="text" name="menuName" th:value="${menuDto.menuName}"> <br>-->
<!--    가격 : <input type="text" name="price" th:value="${menuDto.price}"> <br>-->
<!--    재고 : <input type="text" name="menuCount" th:value="${menuDto.menuCount}"> <br>-->

<!--    <input type="submit" value="수정">-->
<!--</form>-->
<div class="top">
    <h2>메뉴 수정</h2>
</div>
<div class="container">
    <form th:action="@{'/post/edit/' + ${menuDto.menuID}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="menuID" th:value="${menuDto.menuID}"/>
        <div class="row g-3">
            <div class="col-12">
                <label for="menuName" class="form-label"><strong>상품 이름</strong></label>
                <input type="text" class="form-control" id="menuName" name="menuName" th:value="${menuDto.menuName}">
            </div>

            <div class="col-12">
                <label for="price" class="form-label"><strong>상품 가격</strong></label>
                <input type="text" class="form-control" id="price" name="price" th:value="${menuDto.price}">
            </div>

            <div class="col-12">
                <label for="menuCount" class="form-label"><strong>상품 재고</strong></label>
                <input type="text" class="form-control" id="menuCount" name="menuCount" th:value="${menuDto.menuCount}">
            </div>
            <input type="submit" value="수정">
        </div>
    </form>
</div>
</body>
</html>