<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>세부사항</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
<div class="top">
    <h2>메뉴 세부사항</h2>
</div>
<div class="container">
    <div>
        <div class="menuinfo"><a>메뉴 사진</a></div>
        <td><img th:src="@{${menuDto.filePath}}" width="150px" height="150px"></td>
        <div class="menuinfo"><a>메뉴 이름</a></div>
        <p th:text="${menuDto.menuName}"></p>
        <div class="menuinfo"><a>메뉴 가격</a></div>
        <p th:text="${menuDto.price}"></p>


        <!-- 수정/삭제 -->
        <div class="btndiv">
            <button>장바구니에 추가하기</button>
            <button onclick="history.back()">뒤로가기</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>