<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order.css">
    <title>주문화면</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="top">
        <h2>백석패스트푸드</h2>
    </div>
</header>
<div class="menulist">
    <div class="menubutton">
        <button id="main" type="button">메인 메뉴</button>
    </div>
    <div class="showmenu">
        <div class="mainmenu"> <!--정보 db연동-->
            <!-- 메뉴 반복 시작-->
            <div class="menucontents" th:each="menu : ${menuList}">
                <a th:href="@{'/order/post/' + ${menu.menuID}}">
                    <button type="button"
                            th:menu="${menu}">
                        <img th:src="@{${menu.filePath}}">
                    </button>
                    <div th:text="${menu.menuName}"></div>
                    <div th:text="${menu.price} + '원'"></div>
                </a>
                <!-- 밑에칸에 추가하는 함수   th:onclick="addMenu([[${menu}]])">&ndash;&gt;-->



            </div>
            <!-- 메뉴 반복 끝 -->
            <button id="topay" type="button" onclick="location.href='/stock'">장바구니로 이동하기</button>

        </div>

    </div>
<!--    <form>-->
<!--        <div class="basket">-->
<!--            <div class="list">-->
<!--                <table cellpadding=1>-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>메뉴 이름</th>-->
<!--                        <th>메뉴 가격</th>-->
<!--                        <th>수량 제어</th>-->
<!--                        <th>메뉴 삭제</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody id="menuBody">-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>
</div>
<script type="text/javascript">
    window.onload = function () {
        //alert("test")
    }

    function addMenu(menu) {
        var menuBody = $('#menuBody')

        console.log(menu);

        if ($('#' + menu.menuID).length > 0) {
            return;
        }

        var html = '<tr id="' + menu.menuID + '">'
        html += '<td>' + menu.menuName + '</td>'
        html += '<td>' + menu.price + '</td>'
        html += '<td><input type="number" class="edt-qty" value="0" min="0"></td>'
        html += '<td><button type="button" onclick="">삭제</button></td>'
        html += '</tr>'
        console.log(html)
        menuBody.append(html)
        // 삭제 누르면 없어지게
        // 메뉴순번 nan 말고 1씩 증가시키고싶음
        // 결제버튼 누르면 -> 바스코에있는ㄷ ㅔ이터가
        // 결제버튼 - > 스크립트 펑션
    }

    function payment() {
        menubody = $("#menuBody");
        console.log(menubody)
        //누르면 결제 완료되었습니다 메세지 + 새로고침?
    }

</script>
</body>
</html>