<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order.css">
    <title>주문화면</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="top">
        <h2>백석패스트푸드</h2>
    </div>
</header>
<div class="menulist">
    <div class="menubutton">
        <button id="main" type="button">메인 메뉴</button>
    </div>
    <div class="showmenu">
        <div class="mainmenu"> <!--정보 db연동-->
            <!-- 메뉴 반복 시작-->
            <div class="menucontents" th:each="menu : ${menuList}">
                <button type="button"
                        th:menu="${menu}"
                        th:onclick="addMenu([[${menu}]])">
                    <img th:src="${menu.fileId}" th:if="${menu.fileId != null}">
                </button>
                <div th:text="${menu.menuName}"></div>
                <div th:text="${menu.price} + '원'"></div>
            </div>
            <!-- 메뉴 반복 끝 -->
        </div>

    </div>

    <div class="basket">
        <div class="list">
            <table cellpadding=1>
                <thead>
                <tr>
                    <th>메뉴 순번</th>
                    <th>이름</th>
                    <th>가격</th>
                    <th>수정</th>
                </tr>
                </thead>
                <tbody id="menuBody">

                </tbody>

            </table>
        </div>
        <div class="radio">
            <input type="radio" id="radio1" name="place" value="restorant"><label for="radio1">매장식사</label>
            <input type="radio" id="radio2" name="place" value="takeout"><label for="radio2">포장</label>
        </div>
        <button id="topay" type="button" onclick="location.href='/pay'">결제화면으로</button>
    </div>
</div>
</div>
<script type="text/javascript">
    window.onload = function () {
        //alert("test")
    }

    function addMenu(menu) {
        var menuBody = $('#menuBody')

        var html = '<tr>'
        html += '<td>' +  + '</td>'
        html += '<td>' + menu.menuName + '</td>'
        html += '<td>' + menu.price + '</td>'
        html += '<td><button type="button" onclick=""></button></td>'
        html += '</tr>'
        console.log(html)
        menuBody.append(html)
    }
</script>
</body>
</html>