<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자:메뉴편집</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/paginate.css">
    <script src="/js/paginate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="top">
        <div class="box"></div>
        <div class="maintitle">메뉴 편집</div>
        <div class="box">
            <button id="toqrcode" type="button" onclick="location.href='/index'">qr코드화면</button>
            <button id="tostock" type="button" onclick="location.href='/stock'">재고관리</button>
        </div>
    </div>

</header>
<main>
    <div class="main">
        <div class="layout">
            <a th:href="@{/post}">메뉴 추가하기</a>
        </div>
        <div class="table">
            <table class="myTable table hover" border="1">
                <tr>
                    <th>메뉴 id</th>
                    <th id="menuoption">이름</th>
                    <th>가격</th>
                    <th>재고수량</th>
                    <th>이미지</th>
                </tr>
                <tr th:each="menu : ${menuList}">
                    <td><span th:text="${menu.menuID}"></span></td>
                    <td>
                        <a th:href="@{'/post/' + ${menu.menuID}}">
                        <span th:text="${menu.menuName}"></span></a>
                    </td>
                    <td><span th:text="${menu.price}"></span></td>
                    <td><span th:text="${menu.menuCount}"></span></td>
                    <td><img th:src="@{${menu.filePath}}" width="150px" height="150px"></td>

<!--                    <td><img th:src="${menu.fileId}" th:if="${menu.fileId != null}"></td>-->
<!--                    <td><img th:style="'background-image:url('+ @${menu.fileId} +');'"></td>-->
                </tr>
            </table>
        </div>
        <input type="search" id="searchBox" placeholder="페이지">
    </div>
</main>
<script>
//페이지 관련 스크립트
    let options = {
        numberPerPage:4, //페이지당 컨텐츠 숫자
        goBar:true,
        pageCounter:true,
    };

    let filterOptions = {
        el:'#searchBox'
    };

    paginate.init('.myTable',options,filterOptions);
</script>
</body>
</html>