
body{
    background-color: lightgray;
}
.top{
    display: flex;
    width: 1000px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.maintitle{
    margin: 20px;
    width: 60%;
    font-size: 40px;
}
.box{   
    width: 15%;
    height: 100px;
    margin: auto;
}
#toadmin{
    width: 70%;
    height: 40px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qrcode{
    background-color: white;
    width: 250px;
    height: 250px;
    padding: 50px;
    background-image: url("../img/adobe_express.png");
    background-repeat: no-repeat;
    background-position : center;
}
.withtablet{
    padding:10px;
}
#toorder{
    width:  350px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
}
#toorder:hover {
    background-color:#2d5cdd;
    transition: 0.3s;
}

#toadmin:hover {
    background-color:#2d5cdd;
    transition: 0.3s;
}